body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.color{
    color:orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 60%;
}
.half-width-2 img{
    padding-left: 2%;
    width: 80%;
    height: 82%;
}
.half-width-2{
    width: 50%;
    padding: right 2%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url(images/Travel\ design\ Images\,\ Stock\ Photos\ &\ Vectors\ _\ Shutterstock\ -\ Google\ Chrome\ 10_01_2022\ 15_28_11.0\ \(1\).png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.third-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.fifth-banner{
    background-image: url(images/Natural\ travel\ design\ Images\,\ Stock\ Photos\ &\ Vectors\ _\ Shutterstock\ -\ Google\ Chrome\ 10_01_2022\ 17_01_35.png);
    background-repeat: no-repeat;
    background-position:2%;
}
.last-banner{
    background-image: url(images/Travel\ design\ Images\,\ Stock\ Photos\ &\ Vectors\ _\ Shutterstock\ -\ Google\ Chrome\ 10_01_2022\ 15_28_11.0\ \(1\).png);
    background-repeat: no-repeat;
    background-position-y:center;
    background-position:2%;
}